{% extends 'base.html.twig' %}

{% block title %}Loja index{% endblock %}

{% block body %}
    <h1>Loja index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomeFantasia</th>
                <th>Dono</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loja in lojas %}
            <tr>
                <td>{{ loja.id }}</td>
                <td>{{ loja.nomeFantasia }}</td>
                <td>{{ loja.dono }}</td>
                <td>
                    <a href="{{ path('loja_show', {'id': loja.id}) }}">Mostrar</a>
                    <a href="{{ path('loja_edit', {'id': loja.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('loja_new') }}">Create new</a>
{% endblock %}
