{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>Homepage</h1>

    {% for message in app.flashes('message') %}
        <h2>
            {{message}}
        </h2>
    {% endfor %}
    {{ form_start(formCarro, {'action':path('add')}) }}
        {{ form_errors(formCarro) }}
        {{ form_widget(formCarro) }}
        <input type="submit" value="Salvar carro" />
    {{ form_end(formCarro) }}
    <table>
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Preço</th>
            </tr>

        </thead>
        <tbody>
            {% for carros in carros %}
            <tr>
                <td>{{ carros.marca }}</td>
                <td>{{carros.modelo}}</td>
                <td>R$ {{carros.preco}}</td>
                <td>
                    <a href="{{ path('editar',{'id':carros.id})}}">editar</a>
                    <a class="text-danger" href="{{ path('remover',{'id':carros.id}) }}">remover</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
